<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/miniFrame.js"></script>
    <script src="../static/js/theme.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <title>PictureManager</title>
</head>
<body id="body" class="themeDay" onload="init()">
    <h1>Picture manager</h1>
    <script src="../static/js/pictureMS.js"></script>
</body>
</html>