<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/miniFrame.js"></script>
    <script src="../static/js/theme.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <title>TableDisplay</title>
    <style>
        .row>div>li {
            margin-right: 5px;
        }

        .row>div {
            font-size: 25px;
        }
    </style>
</head>

<body id="body" class="themeDay" onload="init()">
    <div id="root" class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8">
                <h1>File manager</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div style="line-height: 70px;text-align: right;">
                    <li class="fa fa-plus-circle fa-lg" data-toggle="modal" data-target="#myModal"></li>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12" v-for="pic in pics">
                <!-- v-bind:download="pic.link" -->
                <!-- class="fa fa-file-image-o" -->
                <li v-bind:class="pic.type"></li><a v-bind:href="pic.link">{{pic.name}}</a>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="color:black;">
            <form action="/deelFileUpload" method="post" id="form" enctype="multipart/form-data"
                onsubmit="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="color:black;">FileUpload</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span>地区：</span>
                        <!-- Single button -->
                        <select name="area" id="place">
                            <option value="">Default</option>
                            <option value="保定">保定</option>
                            <option value="温州">温州</option>
                            <option value="杭州">杭州</option>
                        </select>
                        </div>
                        <div>
                            <span>条码：</span><input type="text" name="mark" id="mark">
                        </div>
                        <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                        <div>
                            <span>文件：</span><input type="file" name="fileInput" id="file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="uploadFile()">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <script src="../static/js/fileMS.js"></script> -->
</body>

</html>